.hero-content h1 {
     font-size: 50px;
     font-weight: 700;
 }
 .hero-img-container {
     padding: 40px;
     position: relative;
 }
 .hero-img-container img {
     max-width: 100%;
 }
 .floating-img {
     position: absolute;
     bottom: 20px;
     left: 0px;
     transition: .3s all;

     transform: translateY(-35px) rotate(0deg);
 }
 .hero-img-container:hover .floating-img {
     transform: translateX(13px) rotate(-5deg);
 }
 .hero-search-field {
     width: 100%;
     max-width: 500px;
 }
 .hero-search-field button {
     border: none;
     background-color: #39ad31;
     color: white;
     padding: 13px 28px;
     border-top-right-radius: 30px;
     border-bottom-right-radius: 30px;
     font-size: 20px;
     transition: .3s;
 }
 .hero-search-field input {
     width: calc(100% - 115px);
     border: none;
     padding: 13px 17px;
     background-color: #ddd;
     font-size: 20px;
 }
 .hero-search-field input:focus {
     outline: none;
 }
 .hero-search-field button:hover {
     background-color: #5eb059;
 }
 .hero-content p {
     padding: 20px 0;
 }
 .home-hero .container-xxl .row {
     min-height: 100vh;
 }